app.name=Pat-Pat-Girlfriend
app.version=1
CTRIP_USERNAME=<Your Ctrip username>
CTRIP_PASSWORD=<Your Ctrip password>
APP_ID=<Your testing Wechat public account's APP_ID>
APP_SECRET=<Your testing Wechat public account's APP_SECRET>
TOUSER_ID=<The user you wanna send to>
TRAININFO_TEMPLATE_ID=<The template id for your train info>
DAILYINFO_TEMPLATE_ID=<The template id for your daily info>
AMAP_KEY=<The Gaode Map key you applied>
ADCODE=<The ADCode you wanna retrieve weather info for>
